*
{
     font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif'; 
     background-color: #000; 
     color: #fff;
}

h3
{
    margin-top: 40px;
}

#btnOk
{
    width: 70px;
}

input[type="button"]
{
    margin: 10px 0;
    display: block;
}

input[type="number"]
{
    width: 45px;
}

a
{
    display: block;
    color: green;
}

.data-tbl
{
    margin: 30px 10px;
}

.data-tbl td, th {
    padding: 5px;
}

.head-tbl
{
    border: white 1px solid;
    margin: 20px 10px;
    padding: 10px;
}